.project_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min-content;
  flex: 1 0 310px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: var(--bg-colortwo);
  box-shadow: var(--container-shadow);
}

.project_image {
  display: flex;
  justify-content: center;
  order: 1;
  position: relative;
  align-self: center;
  width: 100%;
  padding-top: 50%;
  height: auto;
  border-radius: 5px;
}

.project_image img {
  display: flex;
  top: 20%;
  position: absolute;
  height: 75%;
  width: 75%;
  border-radius: 4px;
  cursor: pointer;
}

.project_image img:hover {
  opacity: 50%;
}

.project_image img:hover + .project_image_arrow {
  z-index: 0;
}

.project_image_arrow {
  z-index: -1;
  position: absolute;
  top: 25%;
  height: 20%;
  width: 20%;
  color: var(--color-two);
}

.project_info {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  color: var(--color-two);
}

.project_name {
  font-size: 15px;
  color: var(--color-one);
  text-align: center;
}

.project_description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  width: 100%;
  margin: 10px 0 10px 0;
  font-size: 10px;
  color: var(--color-three);
}

.project_description p {
  height: min-content;
  width: 75%;
  text-align: center;
}

.project_tools {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
}

.project_tools p {
  margin: 0 5px 5px 5px;
}

.project_links {
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.project_links svg {
  height: 15px;
  width: 15px;
  margin-left: 5px;
}

.project_link {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  cursor: pointer;
  font-size: 10px;
  color: var(--color-one);
  border: 1px solid var(--color-one);
  border-radius: 5px;
}

.project_link:hover {
  box-shadow: var(--button-shadow);
}

.project_arrow svg {
  height: 15px;
  width: 15px;
}

@media only screen and (min-width: 900px) {
  .project_container {
    flex-direction: row;
    padding: 0 50px 0 50px;
    margin-bottom: 70px;
  }
  
  .project_image {
    padding-top: 25%;
    flex: 1 0 200px;
  }

  .project_image img {
    top: 0%;
    height: 100%;
    width: 100%;
  }

  .margin_left {
    margin-left: 50px;
  }

  .margin_right {
    margin-right: 50px;
  }

  .project_image_arrow {
    top: 40%;
  }

  .project_info {
    display: flex;
    justify-content: center;
    flex: 2 0 200px;
    order: 1;
    margin: 0;
  }

  .project_description {
    font-size: 12px;
  }

  .project_description p {
    width: 100%;
  }

  .project_tools {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 14px;
  }

  .project_links svg {
    height: 23px;
    width: 23px;
    margin-left: 5px;
  }

  .project_link {
    padding: 5px 10px 5px 10px;
    font-size: 15px;
  }

  .project_arrow svg {
    height: 20px;
    width: 20px;
  }
}

@media only screen and (min-width: 1100px) {
  .project_container {
    padding: 40px 50px 40px 50px;
  }

  .project_image {
    padding-top: 25%;
    flex: 2 0 200px;
  }

  .project_image_arrow {
    top: 42%;
    height: 15%;
    width: 15%;
  }

  .project_name {
    font-size: 20px;
  }

  .project_description {
    font-size: 15px;
  }

  .project_tools {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1600px) {
  .project_tools {
    font-size: 18px;
  }

}
