.home_welcome {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 40vh;
}

.home_welcome_main {
  font-size: 20px;
  width: fit-content;
}

.home_welcome_main h2 {
  font-weight: 600;
}

.home_welcome_main p {
  font-size: 12.8px;
  font-weight: 200;
}

.home_welcome_name {
  color: var(--color-one);
}

.home_welcome_main svg {
  height: 100%;
  align-items: center;
  color: var(--color-one);
}

.home_welcome_name:hover {
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
}

.home_welcome_main svg:hover {
  cursor: pointer;
  color: var(--color-two);
}

@media only screen and (min-width: 600px) {
  .home_welcome {
    height: min-content;
  }
  .home_welcome_main {
    font-size: 30px;
  }
}

@media only screen and (min-width: 900px) {
  .home_welcome {
    justify-content: start;
    width: 100%;
  }

  .home_welcome_main {
    font-size: 40px;
  }

  .home_welcome_main p {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1300px) {
  .home_welcome_main {
    height: 400px;
    font-size: 45px;
  }

  .home_welcome_main p {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1600px) {
  .home_welcome_main {
    height: 500px;
    font-size: 60px;
  }
  .home_welcome_main p {
    font-size: 20px;
  }
}
