.home_welcome {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: var(--page-half);
}

.home_welcome_main {
  font-size: 30px;
  width: fit-content;
}

.home_welcome_main h2 {
  font-weight: 600;
}

.home_welcome_main p {
  font-size: 12.8px;
  font-weight: 200;
}

.home_welcome_name {
  color: var(--color-one);
}

.home_welcome_main svg {
  height: 100%;
  align-items: center;
  color: var(--color-one);
}

.home_welcome_name:hover {
  cursor: pointer;
  font-weight: 800;
  text-transform: uppercase;
}

.home_welcome_main svg:hover {
  cursor: pointer;
  color: var(--color-two);
}

@media only screen and (min-width: 600px) {
  .home_welcome_main {
    font-size: 40px;
  }
}

@media only screen and (min-width: 900px) {
  .home_welcome {
    width: 60vw;
    height: var(--page-height);
    padding-bottom: 8vh;
  }
}

@media only screen and (min-width: 1200px) {

    .home_welcome_main {
        font-size: 50px;
    }
    
    .home_welcome_main p {
        font-size: 17px;
      }
}

@media only screen and (min-width: 1400px) {
  .home_welcome_main {
    font-size: 60px;
  }
  .home_welcome_main p {
      font-size: 20px;
    }
}
