.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  color: var(--color-two);
}

.about_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: min-content;
  margin-bottom: 70px;
  border-radius: 5px;
  background-color: var(--bg-colortwo);
  font-family: var(--font);
  color: var(--color-two);
  box-shadow: var(--container-shadow);
}


