.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
}

.about_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: min-content;
  margin: 50px 30px 20px 30px;
  border-radius: 10px;
  background-color: var(--bg-colortwo);
  font-family: var(--font);
  color: var(--color-two);
}

@media only screen and (min-width: 1100px) {
  .about_container {
    height: var(--page-height);
  }
  .about_box {
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
  }
}


