.about_container {
    height: var(--page-height);
}

.about_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    margin: 10px 10px 10px 10px;
    background-color: var(--bg-colortwo);
    font-family: var(--font);
    color: var(--color-two);
}

@media only screen and (min-width: 1000px) {
    .about_box {
        justify-content: space-between;
    }
  }
