.contact_links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  order: 1;
}

.contact_links svg {
  height: 35px;
  width: 35px;
  padding: 5px;
  border: 1px solid var(--color-one);
  border-radius: 5px;
  color: var(--color-one);
}

.contact_links svg:hover {
  box-shadow: 0 0 5px var(--color-one);
}

@media only screen and (min-width: 1300px) {
  .contact_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 440px;
    width: min-content;
    margin: 0;
  }
}

@media only screen and (min-width: 1500px) {
  .contact_links {
    flex-direction: row;
    align-items: end;
    width: 100%;
    padding: 0 0 50px 45px;
  }
  .contact_links svg {
    height: 40px;
    width: 40px;
  }
}
