.departure_container {
    margin-bottom: 20px;
  max-width: 250px;
  text-align: center;
}

.departure_container h2 {
  font-size: 30px;
  color: var(--color-one);
}

.departure_container p {
  font-size: 20px;
}

@media only screen and (min-width: 1300px) {
  .departure_container {
    margin-top: 50px;
  }
}
