.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
}

.contact_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: min-content;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--bg-colortwo);
  font-family: var(--font);
  color: var(--color-two);
  box-shadow: var(--container-shadow);
}

.contact_links_dep {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 45px;
}

.contact_methods {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 450px) {
  .contact_box {
    padding: 50px;
  }
}

@media only screen and (min-width: 1300px) {
  .contact_container {
    height: var(--page-height);
  }

  .contact_box {
    flex-direction: row;
    justify-content: space-between;
  }

  .departure_small {
    display: none;
  }
  
  .links_small {
    display: none;
  }

  .contact_methods {
    padding-bottom: 45px;
  }
}

@media only screen and (min-width: 1500px) {
  .contact_links_dep {
    display: flex;
    height: 435px;
    padding: 0 20px 45px 20px;
  }
}
