.header_container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  height: var(--header-height);
  width: 100%;
  padding: 10px;
  background-color: var(--bg-colortwo);
  opacity: 90%;
  box-shadow: 0px 0px 5px black;
}

.header_name_container {
  margin: 0 0 0 20px;
  align-self: center;
}

.header_name {
  font-family: var(--font);
  font-weight: 600;
  color: var(--color-one);
  text-transform: uppercase;
}


#active a {
  color: var(--color-one);
}

#active svg {
  color: var(--color-one) !important;
}

@media only screen and (min-width: 750px) {
  
.header_name_container {
  margin: 0 0 0 40px;
}
}
