.header_container {
  width: 100%;
  height: var(--header-height);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #171b20;
}

.header_name_container {
  margin: 0 0 0 25px;
  align-self: center;
}

.header_name {
  font-family: var(--font);
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  /* background-color: black;
  background-image: linear-gradient(
    45deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 39%,
    rgba(2, 0, 36, 1) 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}

.header_surname {
  font-weight: 200;
}
