.header_container {
  width: 100%;
  height: var(--header-height);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #171b20;
}

.header_name_container {
  margin: 0 0 0 25px;
  align-self: center;
}

.header_name {
  font-family: var(--font);
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.header_surname {
  font-weight: 200;
}
