:root {
  --font: "Poppins", sans-serif;
  --bg-color: #1f242c;
  --bg-offwhite: #faf9f6;
  --bg-colortwo: #0e1114;
  --header-height: 8vh;
  --page-height: 92vh;
  --page-half: 46vh;
  --color-one: #0fba58;
  --color-two: #fdfffc;
  --color-three: #bdbdbd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.App {
  background-color: var(--bg-color);
}

.page_title {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 150px;
  margin-top: 25px;
}

.page_title h1 {
  font-size: 40px;
}

.page_title span {
  position: relative;
  top: -70px;
  font-size: 70px;
  font-weight: bold;
  opacity: 25%;
}

@media only screen and (min-width: 750px) {
  .page_title span {
    font-size: 100px;
  }
}

@media only screen and (min-width: 1100px) {
  .page_title {
    margin-top: 50px;
  }

  .page_title h1 {
    font-size: 50px;
  }

  .page_title span {
    top: -85px;
    font-size: 120px;
  }
}
