:root {
  --font: "Poppins", sans-serif;
  --bg-color: #1f242c;
  --bg-colortwo: #0e1114;
  --page-height: 100vh;
  --color-one: #0fba58;
  --color-two: #fdfffc;
  --color-three: #bdbdbd;
  --container-shadow:  0 0 10px black;
  --button-shadow:  0 0 6px var(--color-one);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.App {
  background-color: var(--bg-color);
}

.container {
  width: 100%;
  padding: 7% 10% 0 10%;
}

@media only screen and (min-width: 750px) {
  .container {
  padding: 7% 15% 0 15%;
  }
}