:root {
  --font: "Poppins", sans-serif;
  --bg-color: #ffffff;
  --bg-colortwo: #0e1114;
  --header-height: 8vh;
  --page-height: 100vh;
  --page-half: 46vh;
  --color-one: #0fba58;
  --color-two: #fdfffc;
  --color-three: #8d8d8d;
  --container-shadow:  0 0 10px black;
  --button-shadow:  0 0 6px var(--color-one);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.App {
  background-color: var(--bg-color);
}