.home_portrait {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about_portrait {
  justify-self: center;
  height: min-content;
}

.home_portrait_image {
  height: 300px;
  border-radius: 100px;
}

@media only screen and (min-width: 600px) {
  .home_portrait_image {
    height: 350px;
  }

  .about_portrait {
    margin: 0 50px 0 50px;
  }
}

@media only screen and (min-width: 900px) {
  .home_portrait {
    justify-content: end;
    width: 40vw;
    padding-bottom: 8vh;
  }
}

@media only screen and (min-width: 1300px) {
  .home_portrait_image {
    height: 400px;
  }
}

@media only screen and (min-width: 1600px) {
  .home_portrait_image {
    height: 500px;
  }
}
